.info-wrapper{
    padding-top:2%;
    padding-bottom:1%;
    padding-left:5%;
    padding-right:5%;
}

.titleWork{
    z-index: 0;
}

.percentageWork{
    z-index: 0;
}

.descriptionWork{
    z-index: 0;
}